body {
    padding-top: 60px;
}

#select-container-project {
    width: 300px;
}
#select-container-interval {
    width: 200px;
}

.pipeline-card-container {
    min-width: 360px;
    max-width: 360px;
}


.pipeline-card-container a {
    text-decoration: none;
}
.pipeline-card-container .pipeline-card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.pipeline-card-container .glpm-failed-card {
    background-color: #dc3545;
}
.pipeline-card-container .glpm-success-card {
    background-color: #198754;
}
.pipeline-card-container .glpm-running-card {
    background-color: #0dcaf0;
}